@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.grow-down {
  animation: growDown 0.5s ease-in-out forwards;
  transform-origin: top center;
}

.form-field {
    padding-left: 10px;
    margin-bottom: 18px;
    border-radius: 20px;
    box-shadow: inset 4px 4px 2px #cbced1, inset -4px -4px 2px #fff;
}
.form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.1rem;
    color: #fff;
    /* color: #666; */
    padding: 2px;
    /* border: 1px solid red; */
}